     div {
      height: 100px;
      width: 100%;
      margin-bottom: 10px;
      background: red;
      transition: 1s;
  }

  .active {
      width: 400px;
      background: yellow !important;
      color: blue !important;
  }
  p {
      width: 500px;
      background: blue;
      color: white;
      padding: 20px;
  }
  p.collapse {
      display: none;
  }